html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  position: relative;
  height: 100vh;
  overflow-y: hidden;
  margin: 0;
}
#root, #root > div {
    width: 100%;
    height: 100%;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: .75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}


.root {
    width: 100%;
    height: 100%;
}
.root .pane {
    display: inline-block;
    border: 3px solid pink;
}
.root > .pane,
.root > .split {
    width: 100%;
    height: 100%;
}

.split.HORIZONTAL > .pane, 
.split.HORIZONTAL > .split {
    height: 100%;
    width: 50%;
}

.split.VERTICAL > .pane,
.split.VERTICAL > .split {
    height: 50%;
    width: 100%;
}

.left, .right {
    width: 50%;
    height: 100%;
}
.left { float: left; }
.right { float: right; }


.pane .menu {
    height: 15px
}
.pane .menu input {
    width: calc( 100% - 30px );
    height: 100%;
    display: block;
    float: left;
}
.pane .menu button {
    float: right;
    border-radius: 0;
    width: 15px;
    height: 15px;
    padding: 0;
    background: white;
    border: 1px solid gray;
}
.pane webview {
    display: inline-block;
    width: 100%;
    height: calc( 100% - 15px );
}
